@model Diagramer.Models.ViewModels.CreateTaskViewModel;
@{
    ViewData["Title"] = "Task Page";
}

<form asp-action="CreateTask" asp-controller="Task" method="post" enctype="multipart/form-data">
    <input name="SubjectId" type="hidden" value="@Model.SubjectId"/>
    <input name="Categories" type="hidden" value="@Model.Categories"/>
    <div class="form-group">
        <label for="CategoriesIds">Категории</label>
        <select multiple name="CategoriesIds" class="form-control" id="CategoriesIds">
            <option disabled>Выберите несколько категорий</option>
            @foreach (var category in @Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <p>
        <input name="Name" type="text" placeholder="Название" class="form-control" required/>
    </p>
    <p>
        <input name="Description" type="text" placeholder="Описание" class="form-control" required/>
    </p>
    <p>
        <label>Дедлайн</label><br/>
        <input name="Deadline" type="date" placeholder="Дедлайн" class="form-control"/>
    </p>
    <p>
        <textarea name="Diagram" type="text" placeholder="Диаграмма преподавателя" class="form-control"></textarea>
    </p>
    <p>
        <label>Групповое задание?</label>
        @Html.EditorFor(m => m.IsGroupTask)
    </p>
    <p>
        <label>Видно студентам?</label>
        @Html.EditorFor(m => m.IsVisible)
    </p>
    <p>
        <input type="submit" value="Добавить"/>
    </p>
</form>