@using Diagramer.Models.Enums
@model Diagramer.Models.ViewModels.ViewTaskViewModel;
@{
    ViewData["Title"] = "Task Page";
}

<div>
    <h1>@Model.Task.Name</h1>
    <h2>Описание: @Model.Task.Description</h2>
    @if (@Model.Task.Deadline is not null)
    {
        <h3>Срок сдачи до <u>@Model.Task.Deadline.ToString()</u></h3>
    }
    @if (@Model.Task.Diagram is not null)
    {
        //<a href='@Url.Action("", "Diagrammer", new { id = @Model.Diagram.Id, editable = false })'>Просмотреть диаграмму преподавателя</a>
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.Task.Diagram.Id, editable = false })'>Просмотреть диаграмму преподавателя</a>
    }
    @if (@Model.UserAnswer == null)
    {
        <a href='@Url.Action("CreateAnswer", new { taskId = @Model.Task.Id })'>Создать диаграмму</a>
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.Rated || @Model.UserAnswer.Status == AnswerStatusEnum.UnderEvaluation)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.Diagram.Id, editable = false })'>Посмотреть диаграмму</a>
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.Finalize || @Model.UserAnswer.Status == AnswerStatusEnum.Created)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.Diagram.Id, editable = true })'>Редактировать диаграмму</a>
        <br/>
        <a href='@Url.Action("SendAnswerToReview", new { answerId = @Model.UserAnswer.Id })'>Отправить диаграмму на проверку</a>
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.Sent)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.Diagram.Id, editable = false })'>Посмотреть диаграмму</a>
        <br/>
        <a href="#">Отменить отправку</a>
    }
</div>