@using Diagramer.Models.Enums
@using Diagramer.Configuration
@using Task = Diagramer.Models.Task
@model Diagramer.Models.ViewModels.ViewTaskViewModel;
@{
    ViewData["Title"] = "Task Page";

}

<div>
    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
    {
        <p>@(Model.Task.IsVisible == true ? "Задание открыто студентам" : "Задание скрыто")</p>
        <a class="btn btn-outline-dark" href='@Url.Action("ChangeTaskVisibility", new { task_id = @Model.Task.Id })'>Изменить видимость задания для студентов</a>
        <a class="btn btn-outline-secondary" href='@Url.Action("ViewAnswersOnTask", new { task_id = @Model.Task.Id })'>Просмотреть ответы студентов</a>
    }
    <h1>@Model.Task.Name</h1>
    <h2>Описание: @Model.Task.Description</h2>

    @if (@Model.UserAnswer?.Comment != null)
    {
        <h3>Комментарий:</h3>
        <p>@Model.UserAnswer.Comment</p>
    }
    @if (@Model.Task.Deadline is not null)
    {
        <h3>Срок сдачи до <u>@Model.Task.Deadline.ToString()</u></h3>
    }
    @if (@Model.Task.Diagram is not null)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.Task.Diagram.Id, editable = false })'>Просмотреть диаграмму преподавателя</a>
    }
    @if (@Model.UserAnswer?.TeacherDiagram != null)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.TeacherDiagram.Id, editable = false })'>Просмотреть правки преподавателя</a>
    }
    @if (@Model.UserAnswer == null)
    {
        <a href='@Url.Action("CreateAnswer", "Answer", new { taskId = @Model.Task.Id })'>Создать диаграмму</a>
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.Finalize || @Model.UserAnswer.Status == AnswerStatusEnum.InProgress)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.StudentDiagram.Id, editable = true })'>Редактировать диаграмму</a>
        <br/>
        <a href='@Url.Action("SubmitAnswerForReview", "Answer", new { answerId = @Model.UserAnswer.Id })'>Отправить диаграмму на проверку</a>
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.Sent)
    {

        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.StudentDiagram.Id, editable = false })'>Посмотреть диаграмму</a>
        <br/>
        <a href='@Url.Action("CancelAnswerSubmission", "Answer", new { answerId = @Model.UserAnswer.Id })'>Отменить отправку</a>
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.UnderEvaluation)
    {
        <h3>Задание проверяется преподавателем</h3>
       
    }
    else if (@Model.UserAnswer.Status == AnswerStatusEnum.Rated)
    {
        <h3>Оценка: @Model.UserAnswer.Mark</h3>
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.UserAnswer.StudentDiagram.Id, editable = false })'>Посмотреть диаграмму</a>
    }

</div>