@using Diagramer.Models.Enums
@using Diagramer.Configuration
@using Task = Diagramer.Models.Task
@model Answer;
@{
    ViewData["Title"] = "Task Page";

}

<div>

    @if (@Model?.Comment != null)
    {
        <h3>Комментарий:</h3>
        <p>@Model.Comment</p>
    }

    @if (@Model.TeacherDiagram != null)
    {
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.TeacherDiagram.Id, editable = false })'>Просмотреть правки преподавателя</a>
    }

    @if (@Model.Status == AnswerStatusEnum.Sent)
    {
        @if (User.IsInRole(ApplicationRoleNames.Admin) || User.IsInRole(ApplicationRoleNames.Teacher))
        {
            <a href='@Url.Action("StartAnswerReview", "Answer", new { answerId = @Model.Id })'>Начать проверку диаграммы студента</a>
            <br/>
        }
        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.StudentDiagram.Id, editable = false })'>Посмотреть диаграмму</a>
    }
    else if (@Model.Status == AnswerStatusEnum.UnderEvaluation)
    {
        <h3>Задание проверяется преподавателем</h3>
        @if (User.IsInRole(ApplicationRoleNames.Admin) || User.IsInRole(ApplicationRoleNames.Teacher))
        {
            <a class="btn btn-outline-success mb-3" data-bs-toggle="collapse" href="#rateAnswer" role="button" aria-expanded="false" aria-controls="collapseExample">
                Выставить оценку
            </a>
            <a class="btn btn-outline-warning mb-3" data-bs-toggle="collapse" href="#finalizeAnswer" role="button" aria-expanded="false" aria-controls="collapseExample">
                Отправить на доработку
            </a>
            <a class="btn btn-outline-info mb-3" href='@Url.Action("MakeEditsInStudentAnswer", "Answer", new { answerId = @Model.Id })'>
                Внести правки в ответ студента
            </a>
            <a class="btn btn-outline-danger mb-3" href='@Url.Action("CancelAnswerReview", "Answer", new { answerId = @Model.Id })'>
                Отменить проверку
            </a>


            <form asp-action="RateAnswer" asp-controller="Answer" method="post" asp-route-answerId="@Model.Id" enctype="multipart/form-data">
                <div class="collapse" id="rateAnswer">
                    <div class="row">
                        <div class="card card-body">
                            <div class="form-floating">
                                <input class="form-control" name="Mark" placeholder="Оценка за задание" id="rateInput" type="number" step="any" required/>
                                <label for="rateInput">Оценка</label>
                            </div>
                            <div class="form-floating mt-3">
                                <textarea id="commentInput" name="Comment" type="text" placeholder="Комментарий к оценке" class="form-control"></textarea>
                                <label for="commentInput">Комментарий к оценке</label>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Оценить"/>
                        </div>
                    </div>
                </div>
            </form>
            <br/>

            <div class="collapse" id="finalizeAnswer">
                <form asp-action="FinalizeAnswer" asp-controller="Answer" method="post" asp-route-answerId="@Model.Id" enctype="multipart/form-data">
                    <div class="row">
                        <div class="card card-body">
                            <div class="form-floating mt-3">
                                <textarea id="commentInput" name="Comment" type="text" placeholder="Комментарий к оценке" class="form-control"></textarea>
                                <label for="commentInput">Комментарий к доработке</label>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Отправить"/>
                        </div>
                    </div>
                </form>
            </div>
        }
    }
    else if (@Model.Status == AnswerStatusEnum.Rated)
    {
        <h3>Оценка: @Model.Mark</h3>

        <a href='@Url.RouteUrl("Diagrammer", new { diagramId = @Model.StudentDiagram.Id, editable = false })'>Посмотреть диаграмму</a>
    }

</div>