@model Category;
@{
    ViewData["Title"] = "Task Page";
}
<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Категория: @Model.Name</h1>

        @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
        {
        }
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Дедлайн</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in @Model.Tasks)
    {
        @if (task.IsVisible || User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <tr>
                <td>@Html.DisplayName(task.Name)</td>
                <td>@(task.Deadline != null ? task.Deadline.ToString() : "-")</td>
                <td>
                    <a href='@Url.Action("ViewTask", "Task", new { id = task.Id })' class="btn btn-primary">Открыть</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
